html,
body {
  margin: 0;
  /* background-image:url('./arrow.gif'); */
  background-size:8%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0.3% 13%;
}

#App {
  font-family: sans-serif;

  /* Give app full page to work with */
  height: 100vh;
}

#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #00C8FF;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: #00C8FF;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 40px;
  height: 40px;
  left: 40px;
  top: 50px;
}

*:focus {
  outline: none;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #00C8FF;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: black;
}

/* General sidebar styles */
.bm-menu {
  background: #ffffff;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: black;
}

/* Wrapper for item list */
.bm-item-list {
  color: black;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.page-wrapper {
  margin : 0 auto;
}

*{
  font-family: 'Crete Round', serif;
}

input {
  font-size: 20px;
  text-align: center;
}